<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/394111977c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js" defer></script>
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
    <!-- <script src="/static/js/bot.js"></script> -->
</head>
<body>
    <div class="bg"></div>
    <header>
        <div class="search-box"><input type="text" id="search" class="search" maxlength="50"><i class="fa-solid fa-magnifying-glass search-ico"></i></div>   
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Docs</a></li>
                <li><a href="">Contribute</a></li>
                <li><a href="">Contact Us</a></li>
            </ul>
            <button class="auth">SignIn</button>
        </nav>
    </header>
    <main>
        
        <section class="left">
            <div class="temp-info">
                <h1 class="temp-c"></h1>
                <div class="loc-time">
                    <h2 class="loc"></h2>
                    <span class="time"> </span> <span class="country"> </span>
                </div>
                <div class="ico-box">
                    <div class="ico"><img src="" alt="weather -icon" class="ico-img"></div>
                    <span class="condition"></span>
                </div>
            </div>
        </section>
        <section class="right">
            <div class="weather-box chat-bot">
                <p class="bot-respo">Bot: Any exposure to the air, even for a few minutes, can lead to serious health effects on everybody. Avoid outdoor activities.</p>

                <div class="bot-input-box">
                    <input type="text" class="chatbot-input" placeholder="Enter prompt">
                    <button class="bot-submit">Enter</button>
                </div>
            </div>
            
        </section>
    </main>
</body>
</html>